alembic==1.13.1
Flask==3.0.3
Flask_Cors==4.0.0
Flask_Migrate==4.0.5
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
pyserial==3.5
python-dotenv==1.0.1
Requests==2.31.0
SQLAlchemy==2.0.25
tzlocal==5.2
Werkzeug==3.0.2
